* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.page {
  background: #f7f3e9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}

.page-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}



h1,
h2,
h3 {
  margin: 0;
  color: black;
}

.cover h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.cover h3 {
  font-size: 20px;
  opacity: 0.9;
}


.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 250px;
  height: 325px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1279f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-name {
  margin-top: 10px;
  font-size: 22px;
  color: black;
  font-weight: bold;
}


.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  font-size: 28px;
  color: #1279f0;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #1279f0;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-link {
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
  color: #1279f0;
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.project-link:hover {
  border-bottom: 2px solid #1279f0;
}

.page-text {
  margin-top: 10px;
  font-size: 15px;
  color: #333333;
  line-height: 1.4;
}
.edu-list li {
  margin-bottom: 12px; 
  line-height: 1.4;
}

.cv-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 22px;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: #ffffff !important;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.6px;
  box-shadow: 0 4px 10px rgba(0, 150, 255, 0.4);
  transition: 0.3s ease-in-out;
}

.cv-button:hover {
  transform: translateY(-3px) scale(1.05);
  background: linear-gradient(135deg, #0066dd, #0099dd);
  color: #ffffff !important; 
  text-decoration: none;
  box-shadow: 0 6px 14px rgba(0, 150, 255, 0.6);
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.skills-wrapper p {
  margin: 0;
}

.skills-wrapper strong {
  color: #333;
}

.quote-page {
  background: #1e90ff !important;
  color: white; 
}
.page.cover {
  background: #1e90ff;
  color: white;
}
